<h1>Manufacturers</h1>

<ul>
  <% @manufacturers.each do |m| %>
    <li>name: <%= m.name %> country: <%= m.country %></li>
  <% end %>
</ul>

<%= link_to "Add a Manufacturer", new_manufacturer_path %>
<%= link_to "Add a Phone", new_phone_path %>
